/* Custom CSS styles */

/* Overall CSS */
body {
    background-color: lightgrey;
}

.row {
    margin: 0;
}

.no-padding {
    padding: 0 !important;
}

.container-fluid {
    width: 90%;
}

.myContainer {
    width: 100%;
    display: inline-flex;
    padding: 10px;
}

.container {
    margin: 15px;
}

.content {
    background-color: #fff;
    border-radius: 5px;
}

.logo {
    width: 55px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1002;
    margin: 7px;
}

.fixed-height {
    height: 60vh !important;
}

.contentArea {
    margin-top: 75px;
}

.adminContent {
    position: relative;
    top: 70px;
    margin: 0 20px;
}

/* SideNav Styles */
.navbar {
    padding-left: 70px;
    z-index: 1;
    font-family: 'Rubik', sans-serif;
    height: 80px;
    background-image: linear-gradient(to left, #00629b, #0099d8);
}

.navbar a.nav-link {
    color: #fff;
}

.navbar-brand {
    color: #fff !important;
}

.sideNav {
    height: 100%;
    width: 65px;
    position: fixed;
    z-index: 1001;
    top: 0; /* Stay at the top */
    left: 0;
    background: #003057;
    overflow-x: hidden;
    padding-top: 75px;
}

.navContent {
    margin-left: 70px;
}

.menu {
    margin-left: 5%;
}

.addProject {
    padding: 10px 0;
    text-align: center;
}

/* subnav sytle */
.subBar {
    position: fixed;
    left: 0;
    z-index: 1000;
    width: 100%;
    color: #003057;
    font-size: 20px;
    box-shadow: 1px 3px 3px 3px #888888;
    padding: 10px 75px;
    background-color: #fff;
}

.subBar .zmdi-chevron-right {
    margin-left: 10px;
    margin-right: 10px;
}

/* Main project table */
.welcome {
    margin-top: 95px;
}

.hide {
    display: none;
}

table.dataTable thead .sorting:after,
table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_desc_disabled:after,
table.dataTable thead .sorting_desc_disabled:before {
    bottom: .5em;
}

.myTable {
    visibility: hidden;
}

#loader {
    border: 12px solid #f3f3f3;
    border-radius: 50%;
    border-top: 12px solid #444444;
    width: 70px;
    height: 70px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

.center {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

/*  project show page */
.projectCard {
    margin-top: 100px !important;
    padding: 20px;
    margin: 25px;
}

.projectTitle {
    color: #00629b;
}

#new {
    display: none;
}

#update {
    display: none;
}

.hide {
    display: none;
}

.highlight {
    font-weight: bold;
}

.messageList {
    margin: 0 10px;
}

.hidden {
    display: none;
}

.clear-both {
    clear: both;
}

.lineTitle {
    color: #00629b;
}

.profileCard {
    margin: 15px;
    width: 25%;
}

.profileCard h3 {
    padding: 10px;
}
